@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground: black;
  --background: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: black;
    --background: white;
  }
}*/

@media (prefers-reduced-motion: no-preference) {
  .hover\:motion-safe\:fa-shake:hover {
    animation: fa-shake 1.5s linear;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
} 
